[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SDCNway"]
	path = SDCNway
	url = https://github.com/dataprotectiontoolkit/sdcnway
